.connection
  padding: 36px 20px
  &__title
    display: none
    margin-bottom: 20px
  &__row
    display: flex
    align-items: center
    justify-content: space-between
    gap: 8px
  &__card
    display: flex
    align-items: center
    gap: 8px
    font-weight: 700
    font-size: 30px
    line-height: 136%
    text-transform: uppercase
    color: rgba(29, 29, 29, 0.8)
    text-decoration: none
    span, a
      font-weight: 700
      font-size: 30px
      line-height: 136%
      text-transform: uppercase
      color: rgba(29, 29, 29, 0.8)
      text-decoration: none
    &__row
      display: flex
      align-items: center
      a
        display: flex
        align-items: center